---
http:
    middlewares:
        redirect-http-to-https:
            redirectScheme:
                scheme: https
        proxy-proto-headers:
            headers:
                customRequestHeaders:
                    X-Forwarded-Protocol: "https"
                    X-Forwarded-Proto: "https"
        {% if custom_global_http_middlewares -%}
            {{ custom_global_http_middlewares | to_nice_yaml | indent(8) }}
        {%- endif %}

{% if traefik_tls_cert and traefik_tls_key %}
tls:
    stores:
        default:
            defaultCertificate:
                certFile: {{ traefik_tls_dir }}default.crt
                keyFile: {{ traefik_tls_dir }}default.pem
{% endif %}
