---
entryPoints:
  http:
    address: ":80"
{% if traefik_forwardedheaders %}
    {{ traefik_forwardedheaders | to_nice_yaml | indent(4) }}
{%- endif %}
  https:
    address: ":443"
{% if traefik_forwardedheaders %}
    {{ traefik_forwardedheaders | to_nice_yaml | indent(4) }}
{%- endif %}
  traefik:
    address: ":{{ traefik_dashboard_port }}"
{% if traefik_enable_prometheus %}
  metrics:
    address: ":{{ traefik_metrics_port }}"
{% endif %}
{% if traefik_tcp_dynamic_config is defined and traefik_tcp_dynamic_config -%}
{% for EntryPoint in traefik_tcp_dynamic_config %}
{%- if EntryPoint['port'] is defined and EntryPoint['port'] %}
  {{ EntryPoint['name'] }}:
    address: ":{{ EntryPoint['port'] }}"
{% endif %}
{% endfor %}
{%- endif %}

providers:
  file:
    directory: /etc/traefik/config/
    watch: false
{% for provider, config in traefik_providers.items() -%}
{% if config is mapping %}
  {{ provider }}:
    {{ config | to_nice_yaml | indent(4) }}
{%- endif %}
{%- endfor %}

{% if traefik_le_email -%}
certificatesResolvers:
  default_le_resolver:
    acme:
      email: {{ traefik_le_email }}
      storage: /etc/traefik/acme/acme.json
      caServer: {{ traefik_le_caserver }}
{% if traefik_le_challenge_type == "dnsChallenge" and traefik_le_dns_challenge_provider %}
      dnsChallenge:
        provider: {{ traefik_le_dns_challenge_provider }}
{% elif traefik_le_challenge_type == "httpChallenge" %}
      httpChallenge:
        entryPoint: http
{%- endif %}
{% endif %}

{% if traefik_enable_prometheus -%}
metrics:
  prometheus:
    entryPoint: metrics
    addServicesLabels: true
    addEntryPointsLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
{% endif %}

api:
  dashboard: true
  insecure: true
  debug: {{ traefik_api_debug | bool | lower}}

log:
  level: {{ traefik_log_level }}
