{% if traefik_http_and_https_config is defined and traefik_http_and_https_config %}
---
http:
  routers:
    https_{{ item.name }}:
{% if item.raw_domain is defined and item.raw_domain %}
      rule: {{ item.raw_domain }}
{% elif item.domain is defined and item.domain %}
      rule: Host(`{{ item.domain }}`)
{% endif %}
      entrypoints:
        - https
      service: {{ item.name }}_http
{% if item.tls is defined and item.tls_resolver is undefined %}
      tls:
        {{ item.tls | to_nice_yaml | indent(8) }}
{% elif item.tls_resolver is defined and item.tls_resolver %}
      tls:
        certResolver: default_le_resolver
        domains:
          - main: {{ item.tls_resolver.main }}
            sans:
              - '{{ item.tls_resolver.sans }}'
{% elif item.tls_simple_acme is defined and item.tls_simple_acme %}
      tls:
        certResolver: default_le_resolver
{% else %}
      tls: {}
{%- endif %}

    http_{{ item.name }}:
{% if item.raw_domain is defined and item.raw_domain %}
      rule: {{ item.raw_domain }}
{% elif item.domain is defined and item.domain %}
      rule: Host(`{{ item.domain }}`)
{% endif %}
      entrypoints:
        - http
      service: {{ item.name }}_http

  services:
    {{ item.name }}_http:
      loadBalancer:
{% if item.loadBalancerAdditional is defined %}
        {{ item.loadBalancerAdditional | to_nice_yaml | indent(8) }}
{%- endif %}
        servers:
          - url: {{ item.services_url }}
{% endif %}
